.banner{
  width: 100%;
  background: #1C1C1C;
  background-image: url("../images/bg_home_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 91vh;
  @include md{
    background-image: url("../images/bg_home.jpg");
  }
  .container{
    @include xsm{
      max-width: 480px;
    }
    @include md{
      max-width: 650px;
    }
  }
  .banner-inline{
    border: solid 1px #fff;
  }
  .white-blocks{
    width: 10px;
    height: 10px;
    background: #fff;
  }
  .banner-content{
    background: #1C1C1C;
    margin:0 auto;
    padding: 32px 0;
    @include md{
      padding: 40px 0;
    }
    @include lg{
      padding: 48px 0;
    }
    h1{
      font-size: $h4-font-size;
      line-height: 35px;
      font-weight: $font-weight-bold;
      @include md{
        font-size: $h2-font-size;
        line-height: 48px;
      }
      @include lg{
        font-size: $h1-font-size;
        line-height: 70px;
      }
      span{
        color: transparent;
        background: linear-gradient(0deg, #62DB54, #09ACF5);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
    h2{
      font-size: $font-size-sm;
      margin: 0;
      @include md{
        font-size: $font-size-base;
      }
      @include lg{
        font-size: $h5-font-size;
      }
    }
  } 
}

.sub-banner{
  color: rgba(white, .55);
  background: #2D2D2D;
  box-shadow: 0 0 32px #202020;
  padding: 40px 0;
  @include lg{
    padding: 80px 0;
  }
  h2{
    font-size: $h3-font-size;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    position: relative;
    &::after{
      content:"";
      width: 50px;
      height: 3px;
      background: #62DB54;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom:-16px
    }
    @include md{
      font-size: $h3-font-size;
      line-height: 40px;
      &::after{
        left: 0;
        transform: translateX(0%);
      }
    }
  }
  h3{
    font-size: $font-size-lg;
    font-weight: bold;
  }
  .card{
    padding: 48px 0;
    border: 1px solid transparent;
    border-radius: 12px;
    background: #202020;
    border: 1px solid #2D2D2D;
    color: #fff;
    margin-bottom: 24px;
    span{
      background: linear-gradient(180deg, #09ACF5, #62DB54);
      background-clip: text;
      -webkit-background-clip: text;
      color:transparent;
    }
    
    @include lg{
      background: #2D2D2D;
      color: rgba(#fff, .55);
      margin-bottom: 0;
      span{
        color: rgba(#fff, .55);
        background: none;
      }
      &:hover{
        border: 1px solid #62DB54;
        background: #202020;
        color: #fff;
        cursor: pointer;
        span{
          background: linear-gradient(180deg, #09ACF5, #62DB54);
          background-clip: text;
          -webkit-background-clip: text;
          color:transparent;
        }
      }
    }
  }
  span{
    font-size: 50px;
  }
  p{
    font-size: $font-size-lg;
    margin: 0;
  }
}

.process{
  padding-top: 40px;
  @include md{
    padding: 80px 0 40px;
  }
  h2{
    font-size: $h4-font-size;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 66px;
    display: flex;
    position: relative;
    &::after{
      content:"";
      width: 50px;
      height: 3px;
      background: #62DB54;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom:-16px
    }
    @include md{
      font-size: $h3-font-size;
      line-height: 40px;
    }
  }
  .number-box{
    width: 78px;
    z-index: 10;
    top: -30px;
    left: 48px;
    span{
      display: block;
      text-align: center;
      font-size: $h1-font-size;
      line-height: 56px;
      font-weight: bold;
      color: #62DB54;
      background: #1C1C1C;
    }
  }
  .row{
    margin-bottom: 0;
  }
  .card{
    background: #1C1C1C;
    border: 1px solid #fff;
    border-radius: 12px;
    margin-bottom: 50px;
    h3{
      font-size: $h4-font-size;
      font-weight: bold;;
    }
    p{
      font-size: $font-size-lg;
      @include lg{
        font-size: $font-size-sm;
      }
      @include xl{
        font-size: $font-size-base;
      }
      @include xxl{
        font-size: $font-size-lg;
      }
    }
  }
}

.learning{
  background: #2D2D2D;
  padding: 40px 0 16px;
  @include md{
    padding: 80px 0 44px;
  }
  h2{
    font-size: $h4-font-size;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 42px;
    display: flex;
    position: relative;
    &::after{
      content:"";
      width: 50px;
      height: 3px;
      background: #62DB54;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom:-16px
    }
    @include md{
      font-size: $h3-font-size;
      line-height: 40px;
      margin-bottom: 66px;
    }
  }
  br{
    @include md{
      display: none;
    }
  }
  .skills{
    overflow-x: auto;
    padding-bottom: 24px;
    @include md{
      padding-bottom: 36px;
    }
    .skills-items{
      background: #2D2D2D;
      border: 1px solid #fff;
      border-radius: 8px;
      padding: 16px 16px;
      margin-left: 4px;
      margin-right: 4px;
      &:hover{
        background: #1C1C1C;
      }
      @include md{
        padding: 24px 32px;
      }
    }
  }
}

.classes{
  padding: 40px 0;
  @include md{
    padding: 80px 0;
  }
  h2{
    font-size: $h4-font-size;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 42px;
    display: flex;
    position: relative;
    &::after{
      content:"";
      width: 50px;
      height: 3px;
      background: #62DB54;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -16px;
    }
    @include md{
      font-size: $h3-font-size;
      line-height: 40px;
      margin-bottom: 66px;
    }
  }
  .card{
    border-radius: 24px;
  }
  .card-body{
    border-bottom: 1px solid #C1C1C1;
    h3{
      font-size: $h4-font-size;
      font-weight: bold;
    }
  }
  h4{
    font-size: $font-size-base;
    span{
      font-size: $h2-font-size;
      line-height: 37px;
    }
  }
  .first{
    margin-bottom: 8px;
    @include md{
      margin-bottom: 38px;
    }
  }
  .btn{
    padding: 8px 32px;
    background: linear-gradient(104deg, #09ACF5, #62DB54);
    border: 0px;
    color: #fff;
  }
}

.advantage-list{
  margin-bottom: 0;
  .advantage-item{
    width: 100%;
    @include md{
      width: 50%;
    }
    @include lg{
      height: 75vh;
      width: 25%;
      -webkit-filter:grayscale(100%);
      opacity: 0.5;
      &:hover{
        -webkit-filter:grayscale(0%);
        opacity: 1;
      }
    }
  }
  .bgi{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      opacity: 0.1;
      @include lg{
        opacity: 0.88;
      }
    }
    &1{
      &::before{
        background-image: url("../images/info01.jpg");
      }
    }
    &2{
      &::before{
        background-image: url("../images/info02.jpg");
      }
    }
    &3{
      &::before{
        background-image: url("../images/info03.jpg");
      }
    }
    &4{
      &::before{
        background-image: url("../images/info04.jpg");
      }
    }
  }
  .advantage-content{
    padding: 40px 0;
    @include md{
      padding: 80px 0;
    }
    @include lg{
      padding: 80px 0 80px 48px;
    }
    span{
      color: #62DB54;
      font-size: $h2-font-size;
    }
    h3{
      color: #fff;
      font-size: $h4-font-size;
      font-weight: bold;
      line-height: 32px;
      margin-bottom: 48px;
      display: flex;
      position: relative;
      &::after{
        content:"";
        width: 50px;
        height: 3px;
        background: #62DB54;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom:-16px
      }
      @include lg{
        &::after{
          left: 0;
          transform: translateX(0%);
        }
      }
    }
    p{
      color: rgba(white, .55);
    }
  }
}

.paragraph{
  padding: 40px 0;
  @include lg{
    padding: 80px 0 56px;
  }
  h2{
    font-size: $h4-font-size;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 56px;
    display: flex;
    position: relative;
    &::after{
      content:"";
      width: 50px;
      height: 3px;
      background: #62DB54;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom:-16px
    }
    @include md{
      font-size: $h3-font-size;
      line-height: 40px;
      margin-bottom: 66px;
      &::after{
        left: 59px;
      }
    }
  }
  .card{
    background: #1C1C1C;
    border-radius: 20px;
    @include lg{
      &:hover{
        .squareRounded{
          display: block;
        }
      }
    }
    .squareRounded {
      display: none;
      width: 32px;
      height: 32px;
      &-topLeft {
        border-top: 2px solid #62DB54;
        border-left: 2px solid #62DB54;
        border-top-left-radius: 10px;
      }
      &-topRight {
        border-top: 2px solid #62DB54;
        border-right: 2px solid #62DB54;
        border-top-right-radius: 10px;
      }
      &-bottomLeft {
        border-bottom: 2px solid #62DB54;
        border-left: 2px solid #62DB54;
        border-bottom-left-radius: 10px;
      }
      &-bottomRight {
        border-bottom: 2px solid #62DB54;
        border-right: 2px solid #62DB54;
        border-bottom-right-radius: 10px;
      }
    }
    h3{
      font-size: $h5-font-size;
      font-weight: bold;
    }
    .more{
      font-size: $h5-font-size;
      text-decoration: none;
      padding: 3px;
    }
  }
}

.recommend{
  padding: 40px 0;
  @include md{
    padding: 80px 0 54px;
  }
  background: #000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include lg{
    background-image: url("../images/bg_share.jpg");
  }
  h2{
    font-size: $h4-font-size;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 40px;
    display: flex;
    position: relative;
    &::after{
      content:"";
      width: 50px;
      height: 3px;
      background: #62DB54;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom:-16px
    }
    @include md{
      font-size: $h3-font-size;
      line-height: 40px;
      margin-bottom: 64px;
    }
  }
  .change{
    @include md{
      display: none;
    }
  }
  .card-test{
    .card-img{
      position: relative;
      width: 100%;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: .25rem;
        left: -.25rem;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        border: 1px solid $gray-600;
        z-index: -1;
      }
      @include lg{
        width: 57.25%;
        &::before {
          top: 0.75rem;
          left: -0.75rem;
        }
      }
      img{
        border-radius: 24px;
      }
    }
    .card-body {
      position: relative;
      width: 100%;
      border-radius: 24px 24px 24px 0;
      @media (min-width: 992px) {
        position: absolute;
        width: 47%;
      }
      @media (min-width: 1200px) {
        width: 45.5%;
      }
      img {
        top: .5rem;
        right: 24px;
        width: 80px;
        height: 80px;
        @media (min-width: 992px) {
          top: 0;
          right: 32px;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  .pagination{
    margin-top: -4px;
     @include lg{
      position: absolute;
      left: 30%;
      bottom: 0px;
      transform: translateX(-50%);
      z-index: 10;
     }
    //把原有的左右鍵隱藏
   .swiper-button-prev,.swiper-button-next{
     &:after{
        content: '';
     }
     position:unset;
     margin-top: 0;
     color: #62DB54;
   }
   .swiper-pagination{
     position:unset;
     width:auto;
     .swiper-pagination-bullet {
       background-color: #62DB54;
       opacity: initial;
       transition: width 0.3s;
       &-active {
         width: 16px;
         border-radius: 100px;
       }
     }
   }
 }
}

.join-us{
  background: #000;
  padding: 40px 0;
  @include md{
    padding: 80px 0;
  }
  .material-icons{
    font-size: 100px;
    color: rgba(#fff, .55);
  }
  .card-join-us{
    background: #202020;
    border-radius: 24px;
    padding: 40px 24px;
    @include lg{
      padding: 40px 24px;
    }
    @include xl{
      padding: 48px;
    }
    @include xxl{
      padding: 48px 96px;
    }
  }
  .btn{
    padding: 8px 32px;
    @include lg{
      padding: 8px 16px;
    }
    @include xl{
      padding: 8px 32px;
    }
  }
}