.banner{
  width: 100%;
  background: #1C1C1C;
  background-image: url("../images/bg_home_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 91vh;
  @include md{
    background-image: url("../images/bg_home.jpg");
  }
  .container{
    @include xsm{
      max-width: 480px;
    }
    @include md{
      max-width: 650px;
    }
  }
  .banner-inline{
    border: solid 1px #fff;
  }
  .white-blocks{
    width: 10px;
    height: 10px;
    background: #fff;
  }
  .banner-content{
    background: #1C1C1C;
    margin:0 auto;
    padding: 32px 0;
    @include md{
      padding: 40px 0;
    }
    @include lg{
      padding: 48px 0;
    }
    h1{
      font-size: $h4-font-size;
      line-height: 35px;
      font-weight: $font-weight-bold;
      @include md{
        font-size: $h2-font-size;
        line-height: 48px;
      }
      @include lg{
        font-size: $h1-font-size;
        line-height: 70px;
      }
      span{
        color: transparent;
        background: linear-gradient(0deg, #62DB54, #09ACF5);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
    h2{
      font-size: $font-size-sm;
      margin: 0;
      @include md{
        font-size: $font-size-base;
      }
      @include lg{
        font-size: $h5-font-size;
      }
    }
  } 
}

.sub-banner{
  color: rgba(white, .55);
  background: #2D2D2D;
  box-shadow: 0 0 32px #202020;
  padding: 40px 0;
  @include lg{
    padding: 80px 0;
  }
  h2{
    font-size: $h3-font-size;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    position: relative;
    &::after{
      content:"";
      width: 50px;
      height: 3px;
      background: #62DB54;
      position: absolute;
      left: 59px;
      bottom:-16px
    }
    @include md{
      font-size: $h3-font-size;
      line-height: 40px;
      &::after{
        left: 0;
      }
    }
  }
  h3{
    font-size: $font-size-lg;
    font-weight: bold;
  }
  .card{
    padding: 48px 0;
    border: 1px solid transparent;
    border-radius: 12px;
    background: #202020;
    border: 1px solid #2D2D2D;
    color: #fff;
    margin-bottom: 24px;
    span{
      background: linear-gradient(180deg, #09ACF5, #62DB54);
      background-clip: text;
      -webkit-background-clip: text;
      color:transparent;
    }
    
    @include lg{
      background: #2D2D2D;
      color: rgba(#fff, .55);
      margin-bottom: 0;
      span{
        color: rgba(#fff, .55);
        background: none;
      }
      &:hover{
        border: 1px solid #62DB54;
        background: #202020;
        color: #fff;
        cursor: pointer;
        span{
          background: linear-gradient(180deg, #09ACF5, #62DB54);
          background-clip: text;
          -webkit-background-clip: text;
          color:transparent;
        }
      }
    }
  }
  span{
    font-size: 50px;
  }
  p{
    font-size: $font-size-lg;
    margin: 0;
  }
}

.process{
  padding-top: 40px;
  @include md{
    padding: 80px 0 40px;
  }
  h2{
    font-size: $h4-font-size;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 66px;
    display: flex;
    position: relative;
    &::after{
      content:"";
      width: 50px;
      height: 3px;
      background: #62DB54;
      position: absolute;
      left: 47px;
      bottom:-16px
    }
  }
  .number-box{
    width: 78px;
    z-index: 10;
    top: -30px;
    left: 48px;
    span{
      display: block;
      text-align: center;
      font-size: $h1-font-size;
      line-height: 56px;
      font-weight: bold;
      color: #62DB54;
      background: #1C1C1C;
    }
  }
  .row{
    margin-bottom: 0;
  }
  .card{
    background: #1C1C1C;
    border: 1px solid #fff;
    border-radius: 12px;
    margin-bottom: 50px;
    h3{
      font-size: $h4-font-size;
      font-weight: bold;;
    }
    p{
      font-size: $font-size-lg;
      @include lg{
        font-size: $font-size-sm;
      }
      @include xl{
        font-size: $font-size-base;
      }
      @include xxl{
        font-size: $font-size-lg;
      }
    }
  }
}