body{
    background: #1C1C1C;
}

.navbar{
    &::after{
        content:"";
        position: absolute;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, #62DB54, #09ACF5);
        top: 72px;
        @include md{
            top: 90px;
        }
    }
    .container{
        .navbar-toggler{
            border: 0px;
            padding: 4px 8px 1px;
            &:focus{
                background: linear-gradient(90deg, #62DB54, #09ACF5);
            }
        }
    }
}



.navbar-expand-md{
    .navbar-nav{
        .nav-link{
            padding: 12px 24px;
            font-size: 18px;
        }
    }
}

footer{
    p{
        color: #909090;
    }
}
