.learning-selection{
    padding: 40px 0 0;
    .learning-list{
        overflow-x: auto;
        padding-bottom: 24px;
        @include md{
            padding-bottom: 48px;
        }
    }
    .btn{
        border: 1px solid #fff;
        color: #fff;
        padding: 16px 32px;
        border-radius: 8px;
        margin-left: 8px;
        margin-right: 8px;
        white-space: nowrap;
        &:hover{
            border: 1px solid #62DB54;
            color: #62DB54;
        }
        &:active{
            border: 1px solid #62DB54;
            color: #62DB54;
        }
    }
}

.class-selection{
    .card{
        border-radius: 24px;
    }
    .card-body{
        h3{
          font-size: 20px;
          font-weight: bold;
          @include md{
            font-size: $h4-font-size;
          }
        }
      }
      h4{
        font-size: $font-size-base;
        span{
          font-size: $h2-font-size;
          line-height: 37px;
        }
      }
      .first{
        margin-bottom: 8px;
        @include md{
          margin-bottom: 4px;
        }
      }
      .btn{
        padding: 8px 32px;
        border-radius: 8px;
        color: #fff;
        &-outline{
            border: 1px solid #fff;
        }
        &-gradient{
            border: 1px solid #2D2D2D;
            background: linear-gradient(104deg, #09ACF5, #62DB54);
            color: #fff;
        }
      }
}